

*, ::before, ::after { box-sizing: border-box; }

:root  { 
  /*color*/   
  --color-primary: rgb(244, 243, 248);   
  --color-secondary:  rgb(211, 183, 247);
  --color-tertiary: rgb(126, 154, 231);
  --color-accent-primary: rgb(59, 34, 129);
  --color-accent-secondary: #2ec4b6ff;
  
  --color-text: #000000;
  --color-text-placeholder: rgba(128, 128, 128, 0.589);

  
  /*font*/
  --font-size-XXL: clamp(2rem, 5vw, 4rem);
  --font-size-primary: 1.6rem;
  --font-size-secondary: 1.4rem;
  --font-size-tertiary: 1.2rem;

  /*spacing*/
  --spacing-xxs: 0.4rem;
  --spacing-m: 2.4rem;

  /*media-queries*/
  --mq-small: only screen and (max-width: 37.5em);
  --mq-medium: only screen and (max-width: 56.25em);
  --mq-large: only screen and (max-width: 75em);
  --mq-xlarge: only screen and (max-width: 112.5em);
} 

/* page */

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
    background-color: var(--color-primary);
}

.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*title */

.title-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color:var(--color-secondary);
}

h1 {
  text-align: center;
  font-size: var(--font-size-XXL);
  background-color:var(--color-secondary);
  color: black;
  padding: 20px;
  margin: 0;
  font-family: var(--font-secondary);
}

/*modal */

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  display: flex;
  justify-content: center;
}

.modal-card-container{
  position: relative;
  display: flex;
  justify-content: center;
}


.close-button {
  position: absolute;
  top: 3%;
  right: 1%;
  background-color: white;
  border-radius: 10px;
  width:55px;
  height: 55px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.recipe-card-pic {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}


h3 {
  text-align: center;
  color: rgb(3, 3, 3);
  padding: 20px;
  margin: 0;
}

h4 {
  text-align: center;
}

  /* Button styles */
    button {
        border: none;
        background-color: var(--color-secondary);
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        border-radius: 5px;
    }

    button:hover {
        box-shadow: 0.4rem 0.4rem 0rem var(--color-accent-primary);
        color: var(--color-accent-primary);
        transition: 200ms;
    }

  /* search input and button */
  #search-input {
    color:var(--color-text);
    border: none;
    max-width: 500px;
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    outline: none;
    display: block;
  }

  #search-input::placeholder {
    color: var(--color-text-placeholder);
  }

  #ingredients:focus {
    outline: none;
    box-shadow: 0.4rem 0.4rem 0rem var(--color-accent-primary);
  }
  
  #search-btn {
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    
  }


  .search-box {
    border-radius: 5px;
  }
  
  /*results container */
  #results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap:2em;
    margin: 20px;
  }

  #results-container .img {
    width: 100%;
    height: auto;
    max-width: 100%;

  }

  .error-div{
    display: flex;
    gap:1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px; 
  }

  .error-div img{
    max-width:150px;
  }
  
  /* result items */
  .result {
    display: flex;   
    flex-direction: column;
    background-color: var(--color-primary);
    border-radius: 5px;
    margin: 10px;
    justify-content: space-between;
    padding: var(--spacing-m);
  }

  .result::before{
    content: "";
    position: absolute;
    top: 50;
    left: 180;
    width: 100%;
    border-radius: 50%;
    border: var(--color-accent-primary) solid 10px;
    /* background-attachment: fixed;  */
    z-index: -1;
  }

  .result::after{
    content: "";
    position: absolute;
    top: -50;
    left: -180;
    width: 100%;
    border-radius: 50%;
    border: var(--color-accent-primary) solid 10px;
    /* background-attachment: fixed;  */
    z-index: -1;
  }
  
  /* Style the "More results" button */
  #load-more {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
  }
  
  /* Style the image inside results */
  .result img {
    width:100%;
    max-width: 100%;
    height: auto;
  }
  
  /* Style the "Open Recipe Card" buttons */
  .result button {
    background-color: var(--color-tertiary);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px 0;
  }


  #input-storage {
    float: right;
    padding: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  .list-items {
    padding: 10px;
    color:var(--color-tertiary);
    background-color:#EBE3D5;
    list-style-type: none;
    max-width: 200px;
  }

  #list-title {
    color: black;
    font-size: var(--mq-medium);
    display: none;
  }

  #new-search {
    color:#0a0a0a;
    display: none;
    padding: 10px;
  }

  #error-div {
    text-align: center;
  }

  #try-again {
    color:#030303;
    padding: 10px;
  }